body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #343434;
  color: #ffffff;
}
 
*{
  margin: 0;
  padding: 0;
 }
 
.movie-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
 
.movie-info{
  display: flex;
  flex-direction: column;
  text-align:start;
  padding-left: 1rem;
}
 
.movie-description{
  padding-top:9rem;
}
 
img{
  width: 20rem;
  height: 20rem;
}
 
.container{
  align-items: center;
  background-color: #454545;
  padding:2rem;
  border-radius: 5rem;
  margin:1rem;
}
 
