*{
  margin: 0;
  padding: 0;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #343434;
  color: #ffffff;
}
 
/*movie list*/
 
img{
  width: 18rem;
  height: 22rem;
}

.movie-list-card:hover{
  transform: scale(1.1);
}

.movie-list-card{
  padding: 1rem;
}
 
.movie-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #454545;
  border-radius: 5rem;
  padding: 2.5rem;
  margin: 0 2rem 0 2rem;
}
 
/*navbar*/
.link{
  text-decoration: none;
  color: #ffffff;
}

li{
  list-style: none;
  padding: 1rem;
}

ul{
  display: flex;
  flex-direction: row;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem;
}
